<div class="insert-card">
  <div class="insert-card__topbar">
    <div class="insert-card__topbar--back">
      <mat-icon>arrow_back_ios</mat-icon>
    </div>
    <div class="insert-card__nav">
      <div class="insert-card__nav--step">
        <span class="bold"> Etapa 2</span> de 3
      </div>
    </div>
    <div class="insert-card__new-card">
      <img
        src="{{ assetsPath }}icons/icon_card.png"
        class="insert-card__new-card--icon"
      />
      <div class="insert-card__new-card--text">
        Adicione um novo cartão de crédito
      </div>
    </div>
  </div>
</div>
