.insert-card {
  font-family: "Lato", "Helvetica Neue", sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__topbar {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 2.5rem;
    height: 33vh;
    width: 100%;
    background-color: #4bde95;

    &--back {
      position: absolute;
      left: 0;

      mat-icon {
        margin-left: 1.2rem;
        color: #fff;
        font-size: 1.3rem;
        // float: left;
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;

    font-size: 13px;
    line-height: 1rem;
    text-align: center;

    &--step {
      line-height: 1rem;
      color: #fff;

      .bold {
        font-weight: 700;
      }
    }
  }

  &__new-card {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 2rem 3.2rem;

    &--text {
      margin-left: 1rem;
      font-size: 1rem;
      font-weight: 600;
      line-height: 19px;
      overflow: wrap;

      color: #fff;
    }

    &--icon {
      height: 2.5rem;
    }
  }

  &__card-element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 2rem 1rem;

    min-height: 10.75rem;
    min-width: 17.5rem;

    border-radius: 0.625rem;

    background: radial-gradient(
      73.06% 104.31% at 14.59% 58.06%,
      #bfbfbf 0%,
      #bfbfbf 0.01%,
      #a8a8a8 33.7%,
      #727272 100%
    );

    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.349));

    &--visa {
      background: radial-gradient(
        73.06% 104.31% at 14.59% 58.06%,
        #5a7589 0%,
        #436175 33.7%,
        #315266 57.29%,
        #124768 100%
      );
    }

    &--number {
      font-family: "Lato-thin", sans-serif;
      font-size: 14px;
      font-weight: 400;

      position: absolute;
      bottom: 4rem;

      text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
      color: #fff;
    }

    &--bottom {
      display: flex;
      flex-direction: row;

      align-items: center;
      justify-content: space-between;
    }

    &--holder-name,
    &--exp-date {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;

      text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);

      color: #ffffff;
    }
  }

  &__form {
    position: relative;
    top: 5rem;
    margin: 2.5rem;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &--input {
      display: flex;
      flex-direction: column;
      margin-top: 0.5rem;

      .mat-form-field {
        font-size: 1rem;
        min-width: calc(100vw - 5rem);
      }
    }

    &--input-group {
      .mat-form-field {
        font-size: 1rem;
        width: 50%;
      }
      .mat-form-field:first-child {
        padding-right: 0.625rem;
      }
    }

    &--submit {
      text-transform: uppercase;
      font-size: 15px;
      letter-spacing: 0.8px;

      border: 0;
      border-radius: 4px;

      padding: 15px 28px;
      margin-top: 1.625rem;
      gap: 8px;

      background-color: #308e5f;
      color: #ffffff;
    }
  }
}

::ng-deep .mat-form-field-empty.mat-form-field-label {
  color: #c6c6c6;
}

::ng-deep .mat-select,
.mat-option,
.mat-form-field-label,
input {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

::ng-deep .mat-error {
  font-size: 11px;
  margin-bottom: 0.5rem;
}
