.insert-card {
  font-family: "Lato", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1025px) {
    flex-direction: row;
    align-items: flex-start;
  }

  &__topbar {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 2.5rem;
    height: 33%;
    width: 100%;
    background-color: #4bde95;

    @media screen and (min-width: 1025px) {
      width: clamp(20%, 28%, 30%);
      height: 100%;
      align-items: normal;

      transition: all 0.25s linear;
      -o-transition: all 0.25s linear;
      -moz-transition: all 0.25s linear;
      -webkit-transition: all 0.25s linear;
    }

    @media screen and (min-width: 1400px) {
      width: clamp(20%, 25%, 25%);
      height: 100%;
      align-items: normal;

      transition: all 0.25s linear;
      -o-transition: all 0.25s linear;
      -moz-transition: all 0.25s linear;
      -webkit-transition: all 0.25s linear;
    }

    &--back {
      position: absolute;
      left: 0;

      mat-icon {
        margin-left: 1.2rem;
        color: #fff;
        font-size: 1.3rem;
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;

    font-size: 13px;
    line-height: 1rem;
    text-align: center;

    @media screen and (min-width: 1025px) {
      flex-direction: column;
      justify-content: flex-start;
      margin-left: 3rem;
    }

    &--step {
      line-height: 1rem;
      color: #fff;

      .bold {
        font-weight: 700;
      }
    }

    &--desktop-text {
      display: none;
    }

    @media screen and (min-width: 1025px) {
      &--step {
        display: none;
      }

      &--desktop-text {
        font-family: "Lato", sans-serif;
        display: flex;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #fff;
      }
    }
  }

  &__new-card {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 2rem 3.2rem;

    @media screen and (min-width: 1025px) {
      margin-left: 0.4rem;
    }

    &--text {
      margin-left: 1rem;
      font-size: 1rem;
      font-weight: 600;
      line-height: 19px;
      overflow: wrap;

      color: #fff;

      @media screen and (min-width: 1025px) {
        font-size: 20px;
        line-height: 24px;
      }
    }

    &--icon {
      height: 2.5rem;
    }
  }

  &__steps-element {
    display: none;

    @media screen and (min-width: 1025px) {
      display: flex;
      flex-direction: row;
      position: absolute;
      top: 2rem;
      right: 3rem;

      &--step {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        font-size: 13px;
        line-height: 16px;

        color: #4bde95;

        mat-icon {
          margin-inline: 1rem;
        }

        .bold {
          border: 2px solid #4bde95;
          border-radius: 50%;

          margin-inline: 0.5rem;
          padding-inline: 0.35rem;
          padding-top: 0.15rem;
          font-weight: 700;

          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
  }

  &__card-element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 2rem 1rem;

    min-height: 10.75rem;
    min-width: 17.5rem;

    border-radius: 0.625rem;

    @media screen and (min-width: 1025px) {
      padding: 2.875rem 2.875rem 2.875rem 3.55rem;
      min-height: 18.875rem;
      min-width: 30.75rem;
      max-width: 30.75rem;
      margin-left: clamp(0.5rem, 2rem, 4rem);

      transition: all 0.25s linear;
      -o-transition: all 0.25s linear;
      -moz-transition: all 0.25s linear;
      -webkit-transition: all 0.25s linear;
    }

    background: radial-gradient(
      73.06% 104.31% at 14.59% 58.06%,
      #bfbfbf 0%,
      #bfbfbf 0.01%,
      #a8a8a8 33.7%,
      #727272 100%
    );

    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.349));

    &--visa {
      img {
        height: 18px;
      }

      background: radial-gradient(
        73.06% 104.31% at 14.59% 58.06%,
        #5a7589 0%,
        #436175 33.7%,
        #315266 57.29%,
        #124768 100%
      );

      @media screen and (min-width: 1025px) {
        img {
          height: 32px;
        }
      }
    }

    &--number {
      font-family: "Lato-thin", sans-serif;
      font-size: 14px;
      font-weight: 400;

      position: absolute;
      bottom: 4rem;

      text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
      color: #fff;

      @media screen and (min-width: 1025px) {
        font-weight: 600;
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 0.02em;
        bottom: 6.5rem;

        transition: all 0.25s linear;
        -o-transition: all 0.25s linear;
        -moz-transition: all 0.25s linear;
        -webkit-transition: all 0.25s linear;
      }
    }

    &--bottom {
      display: flex;
      flex-direction: row;

      align-items: center;
      justify-content: space-between;
    }

    &--holder-name,
    &--exp-date {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;

      text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);

      color: #ffffff;

      @media screen and (min-width: 1025px) {
        font-family: "Lato-thin", sans-serif;
        font-weight: 600;

        font-size: 22px;
        line-height: 26px;

        transition: all 0.25s linear;
        -o-transition: all 0.25s linear;
        -moz-transition: all 0.25s linear;
        -webkit-transition: all 0.25s linear;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    top: 5rem;
    margin: 2.5rem;

    @media screen and (min-width: 1025px) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      transition: all 0.25s linear;
      -o-transition: all 0.25s linear;
      -moz-transition: all 0.25s linear;
      -webkit-transition: all 0.25s linear;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @media screen and (min-width: 1025px) {
      margin: 0;
      margin-left: clamp(5%, 25%, 25%);

      form {
        align-items: flex-start;
      }

      transition: all 0.25s linear;
      -o-transition: all 0.25s linear;
      -moz-transition: all 0.25s linear;
      -webkit-transition: all 0.25s linear;
    }

    @media screen and (min-width: 1400px) {
      margin: 0;
      margin-left: clamp(5%, 17%, 20%);
      top: 15%;

      transition: all 0.25s linear;
      -o-transition: all 0.25s linear;
      -moz-transition: all 0.25s linear;
      -webkit-transition: all 0.25s linear;
    }

    &--input {
      display: flex;
      flex-direction: column;
      margin-top: 0.5rem;
      width: 100%;

      .mat-form-field {
        font-size: 1rem;
      }

      mat-icon.expand {
        position: relative;
        bottom: -0.5rem;
        color: #4bde95;
      }

      @media screen and (min-width: 1025px) {
        .mat-form-field {
          width: 85%;
        }

        ::ng-deep .mat-form-field-wrapper {
          width: clamp(100%, 140%, 175%);
        }

        transition: all 0.25s linear;
        -o-transition: all 0.25s linear;
        -moz-transition: all 0.25s linear;
        -webkit-transition: all 0.25s linear;
      }
    }

    &--input-group {
      mat-icon {
        position: relative;
        bottom: -3px;
      }

      @media screen and (min-width: 1025px) {
        width: clamp(85%, 119%, 150%);
        .mat-form-field {
          width: 40%;
        }
        #inputGroup.mat-form-field:first-child {
          padding-right: 2rem;
        }

        ::ng-deep .mat-form-field-wrapper {
          width: 100%;
        }

        transition: all 0.25s linear;
        -o-transition: all 0.25s linear;
        -moz-transition: all 0.25s linear;
        -webkit-transition: all 0.25s linear;
      }

      .mat-form-field {
        font-size: 1rem;
        width: 50%;
      }
      .mat-form-field:first-child {
        padding-right: 0.625rem;
      }
    }

    &--submit {
      text-transform: uppercase;
      font-size: 15px;
      letter-spacing: 0.8px;

      border: 0;
      border-radius: 4px;

      padding: 1rem 2rem;
      margin-top: 1.625rem;
      gap: 8px;

      background-color: #308e5f;
      color: #ffffff;

      @media screen and (min-width: 1025px) {
        position: relative;
        left: 20%;
        top: 3rem;
      }

      transition: all 0.25s linear;
      -o-transition: all 0.25s linear;
      -moz-transition: all 0.25s linear;
      -webkit-transition: all 0.25s linear;
    }
  }

  transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

::ng-deep .mat-form-field-empty.mat-form-field-label {
  color: #c6c6c6;
}

::ng-deep .mat-select,
.mat-option,
.mat-form-field-label,
input {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

::ng-deep .mat-error {
  font-size: 11px;
  margin-bottom: 0.5rem;
}

::ng-deep .mat-select-arrow {
  opacity: 0;
}
